openapi: '3.0.0'
info:
  version: 1.0.0
  title: BAEUJA API DOCS for DEV
  description: '`BAEUJA` TEAM의 API 문서입니다'
  license:
    name: MIT
servers:
  - url: https://api.k-peach.io/
  - url: http://localhost:4001/
tags:
  - name: home
    description: home app APIs
  - name: users
    description: users app APIs
  - name: learning/contents
    description: contents in learning app APIs
  - name: learning/sentences
    description: sentences in learning app APIs
  - name: learning/words
    description: words in learning app APIs
paths:
  /home/contents:
    $ref: './paths/home/contents.yaml'
  /home/recommendations:
    $ref: './paths/home/recommendations.yaml'
  /learning/contents:
    $ref: './paths/learning/contents.yaml'
  /learning/contents/{contentId}:
    $ref: './paths/learning/contents/content.yaml'
  /learning/contents/{contentId}/units:
    $ref: './paths/learning/contents/units.yaml'
  /learning/contents/{contentId}/units/{unitIndex}:
    $ref: './paths/learning/contents/unit.yaml'
  /learning/contents/{contentId}/units/{unitIndex}/sentences:
    $ref: './paths/learning/contents/sentences.yaml'
  /learning/sentences/{sentenceId}/userSentenceHistory:
    $ref: './paths/learning/sentences/userSentenceHistory.yaml'
  /learning/sentences/{sentenceId}/userSentenceEvaluation:
    $ref: './paths/learning/sentences/userSentenceEvaluation.yaml'
  /learning/words/{wordId}:
    $ref: './paths/learning/words/word.yaml'
  /learning/words/{wordId}/sentences:
    $ref: './paths/learning/words/sentences.yaml'
  /learning/words/{wordId}/userWordHistory:
    $ref: './paths/learning/words/userWordHistory.yaml'
  /learning/words/{wordId}/userWordEvaluation:
    $ref: './paths/learning/words/userWordEvaluation.yaml'
  /users:
    $ref: './paths/users/users.yaml'
  /users/{userId}:
    $ref: './paths/users/user.yaml'
components:
  parameters:
    $ref: './parameters.yaml'
  schemas:
    $ref: './schemas.yaml'
  securitySchemes:
    $ref: './securitySchemas.yaml'
