openapi: '3.0.0'
info:
  version: 1.0.0
  title: BAEUJA API DOCS for DEV
  description: '`BAEUJA` TEAM의 API 문서입니다'
  license:
    name: MIT
servers:
  - url: https://api.k-peach.io/
  - url: http://localhost:4001/
tags:
  - name: users
    description: users APIs
  - name: learning/contents
    description: learning content and unit APIs
  - name: learning/sentences
    description: learning sentence APIs
  - name: learning/words
    description: learning word APIs
paths:
  # /auth/google:
  #   $ref: './paths/auth/google.yaml'
  # /auth/guest:
  #   $ref: './paths/auth/guest.yaml'
  /learning/contents:
    $ref: './paths/learning/contents.yaml'
  /learning/contents/{contentId}:
    $ref: './paths/learning/content.yaml'
  /learning/contents/{contentId}/units:
    $ref: './paths/learning/units.yaml'
  /learning/contents/{contentId}/units/{unitIndex}:
    $ref: './paths/learning/unit.yaml'
  /learning/sentences/{sentenceId}/perfect-voice:
    $ref: './paths/learning/sentencePerfectVoice.yaml'
  /learning/sentences/{sentenceId}/user-voice:
    $ref: './paths/learning/sentenceUserVoice.yaml'
  /learning/sentences/{sentenceId}/evaluation:
    $ref: './paths/learning/sentenceEvaluation.yaml'
  /learning/words/{wordId}:
    $ref: './paths/learning/word.yaml'
  /users:
    $ref: './paths/users/users.yaml'
  /users/{userId}:
    $ref: './paths/users/user.yaml'
components:
  parameters:
    $ref: './parameters.yaml'
  schemas:
    $ref: './schemas.yaml'
  securitySchemes:
    $ref: './securitySchemas.yaml'
